{% extends 'base.html' %}

{% block title %}Diary Blog{% endblock %}

{% load static %}

{% block header %}
<!-- Page Header-->
        <header class="masthead" style="background-image: url(/static/assets/img/home-bg.jpg)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Diary Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}

{% block contents %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                  <!-- 全レコードが格納されたorderby_recordsからレコードを1件ずつrecordに取り出す -->
                  {% for record in orderby_records %}
                  <div class="post-preview">
                      <!-- urlでURLパターン'blog-detail/記事のid/'を生成し、詳細ページへのリンクを設定 -->
                      <a href="{% url 'diary:blog_detail' record.pk %}">
                          <!-- 記事のタイトル -->
                          <h2 class="post-title">
                              {{record.title}}
                          </h2>
                          <!-- 投稿記事の本文 -->
                          <h3 class="post-subtitle">
                              <!-- サブタイトルの文字サイズを16ptにする -->
                              <span style="font-size : 16pt">
                                <!-- contextフィールドを出力してturncatecharsで出力する文字数を50以内に制限 -->
                                {{record.content|truncatechars:50}}
                            </span>
                          </h3>
                      </a>
                      <!-- 投稿日時とカテゴリ -->
                      <p class="post-meta">
                          <!-- ページの最上部にリンクする -->
                          <a href="#">Diary Blog</a>
                          <!-- posted_atフィールドを出力 -->
                          {{record.posted_at}}に投稿／カテゴリ:
                          <!-- categoryフィールドを出力 -->
                          {{record.category}}
                      </p>
                  </div>
                  <hr>
                  {% endfor %}
                  <!-- forによる繰り返しはここまで -->
                    <!-- Pager-->
                    <div class="clearfix">
                        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Driver -->
        <hr class="my-4" />
{% endblock %}

